{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="content-language" content="zh-CN" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="applicable-device" content="pc,mobile">
  <meta name="author" content="{{ site.author }}" />
  <link rel="stylesheet" href="{{site.baseurl}}/blog-alpha/assets/css/common.css?t={{buildAt}}">
</head>
